@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

main {
    background-color: #4cb4a6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding: 5px;
}

#search {
    padding: 15px;
    font-size: 25px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 0px opx 5px gray;
}






